
/*----------------Blue Stylesheet-------------------------*/
/*---------------------------------------------------------*/

/* Basic Color Settings */

.nav li.current-menu-item, .nav li.current-menu-parent { background: #020202; }
.nav li a:hover, .nav li a:active { background: #020202;} 
nav.navbar { border-bottom: 3px solid #020202;} 

footer.main-footer {border-top: 4px solid #222;}

/* Button Settings */

a.visbutton { background: #d69808; background-image: -moz-linear-gradient(top, #dba321 0%, #d69808 100%);background-image: -webkit-linear-gradient(top, #dba321 0%, #d69808 100%);
border-color:#c18907;} 

/* Header Settings */

header.main-header {background:#12314d;}

nav.navbar { background: #1b3954; background-image: -moz-linear-gradient(top, #2f4a63 0%, #1b3954 100%);background-image: -webkit-linear-gradient(top, #2f4a63 0%, #1b3954 100%);border-bottom:1px solid #0e273e; border-top:1px solid #415a71;} 
.nav li a:hover, .nav li a:active,.nav li:active,.nav li:hover {background:#415a71;}
.nav li ul { background:#415a71 ;}	
.nav li.current-menu-item a, .nav li.current-menu-parent a  {background:#415a71; } 
.nav li li.current-menu-item li a, .nav li li.current-menu-parent li a  {background:#415a71;}
.nav li li { border-bottom:1px solid #2f4a63;}
.topreview .topright span {color:#415a71;} 
.nav li li a, .nav li li a:visited { color: #fff;}
.nav li li a:hover { color:  #1b3954 }
